.Weatherforecast-day {
  color: white;
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}

.WeatherForecast-temperature-max {
  font-size: 18px;
  color: white;
}
.WeatherForecast-temperature-min {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
