@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");

.current-info {
  max-width: 1150px;
  margin: 150px auto;
  padding: 20px;
  border: 4px solid #dadee1;
  border-radius: 10px;
  background-color: rgba(49, 144, 190, 0.8);
}
.city {
  margin-left: 20px;
  font-size: 40px;
  color: whitesmoke;
  font-weight: 700;
}
.date {
  margin-left: 20px;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 300;
}
li::first-letter {
  text-transform: capitalize;
}
.future-forecast {
  bottom: 0;
  color: whitesmoke;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
}
.future-forecast .today .day {
  font-weight: 700;
  border-radius: 50px;
  text-align: center;
}
.future-forecast .today .temp {
  font-size: 80px;
  font-weight: 700;
}

#units {
  font-size: 20px;
  font-weight: 300;
}

#temperature {
  text-transform: capitalize;
}

.units a {
  color: whitesmoke;
  cursor: default;
  text-decoration: none;
}
.today .units .active {
  color: whitesmoke;
  cursor: default;
  text-decoration: none;
}
footer {
  margin-top: 20px;
  text-decoration: none;
  text-transform: none;
  color: black;
}

.units {
  position: relative;
  font-size: 16px;
  margin-right: 20px;
}
ul {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;
  margin: 0 auto;
  font-weight: 700;
}
w-icon {
  width: 100%;
  height: 100%;
}
